:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* font-family: "Montserrat", Arial, Helvetica, sans-serif; */
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

/* FIXME: Needed to change based on design */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* FIXME: Needed to change based on requirement of inks */
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* TODO: Remove this */
/* Badges
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
} */

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* FIXME: Extra */
.list--tick {
  /* list-style-image: url(../images/); */ /* FIXME: needed to be removed*/
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* TODO: Icons */
.icon {
  width: 20px;
  height: 20px;
}

.icon--primary {
  fill: var(--color-primary); /* TODO: can change the icon colors here */
}

.icon--white {
  fill: #fff;
}

.icon-container {
  /*background: #fff;*/ /* TODO: change the background color for icons*/
  width: auto;
  height: 35px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container a {
  padding: 0 1rem;
}

/* Buttons */ /* TODO: button shadows to be added */
.btn {
  border-radius: 8px; /* TODO: decide on border radius TODO: also needed to change in .active1*/
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 6rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffe;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

/* FIXME: The following to be removed based on requirement */

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

/* FIXME: based on requirement */
.btn--pageNav {
  background: #fff;
  color: var(--color-body);
  /* text-transform: none; */ /* TODO: add separate class if needed*/
  transition: scale 0.3s;
}

.btn--pageNav:hover {
  background: #eee;
  color: #000;
  scale: 1.2;
}

.btn--active {
  background: tomato;
  color: #fff;
  scale: 1.3; /* FIXME: scale needed to changed on requirement */
}

.btn--active1 {
  background: #fff;
  border-left: 10px solid var(--color-primary);
  border-radius: 0 8px 8px 0;
  color: var(--color-body);
  scale: 1.3;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* FIXME: Do the input components after btn, here, if needed */

/* Profile Cards */
.profile {
  border-radius: 8px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  /* overflow: hidden; */
}

.profile--flex {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.profile__header {
  padding: 3rem 5rem;
  position: relative;
}

/* .profile__header::before {
  content: url(../images/profileBackBtn.svg);
  z-index: 9;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -1.5rem;
} */

.profile__header .bckToggle {
  /* This is a back button positioned absolute*/
  position: absolute;
  top: -2rem;
}

.profile__body {
  padding: 2rem 5rem 3rem;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.profile__engagement {
  color: #000;
  width: 100%;
  padding-bottom: 3rem;
  border-bottom: 2px solid black;
  position: relative;
}

.profile__name {
  /* color: #fff; */
  margin: 0;
  font-weight: 700;
  font-size: 3.5rem;
  display: inline-block;
}

/* TODO: if there any media components do it here */

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* FIXME: Grids are here(above) */

/* Collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  /* display: block; */
  max-height: 100vh;
  opacity: 1;
}

/* Navigation Bar */
.nav {
  background: linear-gradient(to right, #6a73ff, #ff0982);
  display: flex;
  font-size: 3rem;
  /* height: 5rem; */
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 5rem;
  transition: all 0.3s;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__brand {
  height: 5rem;
  padding: 1rem;
}

.nav__brand img {
  height: 3rem;
  padding: 0 1rem;
}

.nav__item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333;
}

.nav__item > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav__item > a:hover {
  color: #fff;
  /* text-decoration: underline; */
  border-bottom: 5px solid #ffe600;
}

.nav__toggler {
  margin-right: 2rem;
  opacity: 0.5;
  transition: box-shadow 0.15s;
  transform: translateY(-3px); /* FIXME: needed to remove when changed to new icon */
}

.nav__toggler:hover {
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  /* box-shadow: 0 0 10px 3px #666; */ /* FIXME: need to uncomment when new icon applied */
}

.nav.collapsible--expanded {
  border-radius: 20px 20px 5px 5px;
  background: linear-gradient(to right bottom, #6a73ff, #ff0982);
}

@media screen and (min-width: 1024px) {
  .nav {
    margin: 1rem 5rem;
    padding-right: 10rem;
  }

  .nav__item > a {
    color: #ddd;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }

  .nav__brand img {
    padding-left: 2rem;
  }

  .nav.collapsible--expanded {
    border-radius: 50px;
    background: linear-gradient(to right, #6a73ff, #ff0982);
  }
}

.nav__sticky {
  position: fixed;
  top: 0;
}

/* Dropdown */
/* .dropdown {
  position: absolute;
  top: 10%;
} */

/* .dropbtn::after {
  content: url(../images/sprite.svg#chevronDown);
} */

.dropdown__content {
  /* FIXME: background color */
  /* background: #f53131; */
  /* background: linear-gradient(to right, #f5313136 0, #f53131 10%, #f53131 90%, #f5313136 100%); */
  background: linear-gradient(to bottom, #f5313100 0, #f5313100 1.5rem, #f53131 1.5rem, #f53131 100%);
  border-radius: 0 0 20px 20px;
  width: auto;
  max-width: 70%;
  word-wrap: normal;
  padding: 1rem 2rem;
  display: none;
  position: absolute;
  /* FIXME: to be determined absolute position */
  transform: translate(5rem, -1rem);
  line-height: 0.6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown--expanded .dropdown__content {
  display: block;
}

.dropdown__item {
  padding: 1rem;
}

.dropdown__item > a {
  color: #ddd;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.dropdown__item > a:hover {
  color: #fff;
  border-bottom: 1px solid #ffe600;
}

@media screen and (min-width: 1024px) {
  .dropdown__content {
    padding-top: 2rem;
    max-width: 20rem;
    line-height: 1;
    transform: translate(-3rem, 0);
  }
}

.activePage {
  border-bottom: 2px solid #ffe600;
}
