:root {
  /* var are not working in igem server, that is bad */
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #020202;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Preloader */
#loading {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100vh;
  background: #fff;
  /* background: #fff url("") no-repeat center; */
  transition: all 1s;
}

#loading img {
  width: 20vw;
  margin: 30vh 40vw;
}

/* Typography */
html {
  font-size: 62.5%;
  scrollbar-width: none !important;
  scrollbar-color: tomato #1b0760;
  scroll-behavior: smooth;
}

@font-face {
  font-family: MyFont;
  src: url("../fonts/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: MyFont;
  src: url("../fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: MyFont;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: MyFont;
  src: url("https://2021.igem.org/wiki/images/d/d2/T--IISER_Kolkata--fonts-Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: MyFont;
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

body {
  font-family: "MyFont", Arial, Helvetica, sans-serif;
  /* font-family: "Montserrat", Arial, Helvetica, sans-serif; */
  font-size: 1.5rem;
  line-height: 1.2;
  color: #000;
  /* background: #eee; */
  min-height: 100vh;
  background: linear-gradient(to bottom, red, tomato, dodgerblue, darkblue, black);
}

h1,
h2,
h3 {
  color: #1b0760;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

/* FIXME: Needed to change based on design */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* FIXME: Needed to change based on requirement of inks */
.link-arrow {
  color: #ff3400;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: #1b0760;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* FIXME: Extra */
.list--tick {
  /* list-style-image: url(../images/); */ /* FIXME: needed to be removed*/
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* TODO: Icons */
.icon {
  width: 24px;
  height: 24px;
}

.icon--primary {
  fill: #2584ff; /* TODO: can change the icon colors here */
}

.icon--white {
  fill: #fff;
}

.icon--profile {
  /* padding: 0.5rem 1rem; */
  /* margin: 0 1rem; */
  transform: translateY(2px);
  fill: #2584ff;
  transition: all 0.2s;
}

.icon--profile:hover {
  scale: 1.3;
}

.icon-container {
  background: #eee; /* TODO: change the background color for icons*/
  width: auto;
  max-height: 35px;
  border-radius: 20px;
  padding: 0.5rem 0.6rem;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container a {
  padding: 0 0.8rem;
}

@media screen and (max-width: 768px) {
  .icon-container .icon--profile {
    width: 15px;
  }
}

/* Buttons */ /* TODO: button shadows to be added */
.btn {
  border-radius: 8px; /* TODO: decide on border radius TODO: also needed to change in .active1*/
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 6rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: #2584ff;
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffe;
}

.btn--secondary {
  background: #00d9ff;
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: #ff3400;
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--profile {
  border: 1px solid #fff;
  border-radius: 1px;
  padding: 0.5rem 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #bbb;
  transition: all 0.3s;
}

.btn--profile:hover,
.btn--profile:focus {
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

/* FIXME: The following to be removed based on requirement */

.btn--outline {
  background: #fff;
  color: #1b0760;
  border: 2px solid #1b0760;
}

.btn--outline:hover {
  background: #1b0760;
  color: #fff;
}

/* FIXME: based on requirement */
.btn--pageNav {
  background: #fff;
  border-radius: 0.5rem;
  color: #020202;
  /* text-transform: none; /* TODO: add separate class if needed*/
  /* box-shadow: 0 0 10px #000; */
  margin: 0.1rem 0;
  padding: 2rem 1rem;
  word-wrap: normal;
  transition: all 0.2s ease-out;
}

.btn--pageNav:hover,
.btn--active {
  margin: 1rem 0;
  background: #fff;
  color: #000;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 10px solid dodgerblue;
  scale: 1.03;
  box-shadow: 0.5rem 0 4rem #000;
}

.btn--active1 {
  background: #fff;
  border-left: 10px solid #2584ff;
  border-radius: 0 8px 8px 0;
  color: #020202;
  scale: 1.3;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* FIXME: Do the input components after btn, here, if needed */

/* Profile Cards */
.profile {
  padding: 1rem 0.5rem;
  display: inline-flex;
}

.profile__image {
  position: relative;
  /* TODO: change the width auto */
  width: 25rem;
  height: 30rem;
  border-radius: 3rem;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.profile__image img {
  max-height: 100%;
  transform: translateX(0);
}

.textOnImage {
  text-align: center;
  /*   vertical-align: bottom; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  /*   padding: 0rem; */
  background: #550c30c4;
  opacity: 0;
  transition: all 0.3s;
}

.textOnImage:hover,
.textOnImage:focus {
  opacity: 1;
}

.profile__heading {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  padding: 3rem 1rem;
  line-height: 1.2;
}

.profile__modal {
  display: none;
  position: absolute;
  border-radius: 2rem;
  z-index: 99;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.profile__modalContent {
  border-radius: 2rem;
  padding-top: 3rem;
  width: 80%;
  margin: auto;
  background: #fff;
  transition: all 0.3s;
  /* scale: 0.6; */
}

.profile--expanded .profile__modal {
  display: block;
}

.profile__social {
  padding: 1rem 0;
}

.profile--flex {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2rem;
}

.profile__header {
  padding: 1rem 0;
  position: relative;
  width: 86.5%;
  margin: 0 auto;
  border-bottom: 2px solid #000;
}

.profile__header .bckToggle {
  /* This is a back button positioned absolute*/
  position: absolute;
  cursor: pointer;
  top: -5rem;
  left: 1rem;
  opacity: 0.9;
  transition: all 0.3s;
}

.bckToggle:hover {
  scale: 1.3;
  opacity: 1;
}

.profile__body {
  font-size: 1.2rem;
  padding: 1rem 0 3rem;
  margin: 0 auto;
  width: 86%;
  max-height: 25rem;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  overflow-y: auto;
  scrollbar-color: dodgerblue #ddd;
}

.profile__engagement {
  color: #000;
  width: 100%;
  padding-bottom: 1rem;
  /* border-bottom: 3px solid black; */
  /* position: relative; */
}

.profile__name {
  /* color: #fff; */
  margin: 0;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  display: inline-block;
  max-width: 40rem;
}

@media screen and (max-width: 768px) {
  .textOnImage {
    opacity: 1;
    height: auto;
    padding-bottom: 1rem;
  }

  .profile__heading {
    padding: 1rem;
    font-size: 2rem;
    margin: 0;
  }

  .profile__name {
    font-size: 2rem;
  }

  .profile--flex {
    padding-bottom: 0.5rem;
  }

  .profile__engagement {
    font-size: 1rem;
    max-width: 100%;
  }

  .profile__body {
    max-height: 40rem;
    font-size: 1.1rem;
  }

  .profile__modal {
    padding-top: 10rem;
  }

  .profile__header .bckToggle {
    opacity: 1;
  }
}

/* Grids */
.grid {
  display: grid;
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x2x2 {
    grid-template-columns: 20% 80%;
  }
}

/* FIXME: Grids are here(above) */

/* Collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  /* display: block; */
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
  font-size: 5.5rem;
  /* padding-bottom: 5rem; */
}

.block--dark {
  background: linear-gradient(to bottom, #2b315d, #0d112c);
  color: #fff;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 10rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  position: relative;
}

.block--long {
  position: relative;
  padding: 3rem;
  background: #fff;
  border-radius: 2rem;
  margin: 1rem 0;
  box-shadow: 0 0 20px #000;
}

.block--long:not(:first-child) {
  margin: 3rem 0;
}

.block--long .block__heading {
  padding-top: 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  /* padding-top: 4rem; */
  border-bottom: 1px solid #1b0760;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  background: linear-gradient(to right, #6a73ff, #ff0982);
  display: flex;
  font-size: 3rem;
  /*   height: 5rem; */
  width: 90%;
  max-width: 1140px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
  margin: 0.5rem;
  border-radius: 5rem;
  transition: all 0.3s;
  box-shadow: 0 0 40px #000;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__brand {
  height: 5rem;
  padding: 1rem;
}

.nav__brand img {
  height: 3rem;
  padding: 0 1rem;
}

.nav__item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333;
}

.nav__item > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav__item > a:hover {
  color: #fff;
  /* TODO: animate underline from center */
  /* text-decoration: underline; */
  border-bottom: 5px solid #ffe600;
}

.nav__toggler {
  margin-right: 2rem;
  opacity: 0.5;
  /* transition: box-shadow 0.15s; */
  transform: translateY(-0.7rem); /* FIXME: needed to remove when changed to new icon */
}

.nav__toggler:hover {
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  /* box-shadow: 0 0 10px 3px #666; */ /* FIXME: need to uncomment when new icon applied */
}

.nav.collapsible--expanded {
  border-radius: 20px 20px 5px 5px;
  background: linear-gradient(to right bottom, #6a73ff, #ff0982);
}

@media screen and (min-width: 1024px) {
  .nav {
    margin: 0.5rem auto;
    padding-right: 10rem;
  }

  .nav__item > a {
    color: #ddd;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }

  .nav__brand img {
    padding-left: 2rem;
  }

  .nav.collapsible--expanded {
    border-radius: 50px;
    background: linear-gradient(to right, #6a73ff, #ff0982);
  }
}

.nav__item .activePage {
  /* border-bottom: 2px solid #ffe600; */
  color: #fff;
}

.nav__sticky {
  position: fixed;
  top: 0;
  left: 5%;
  z-index: 999;
  max-width: 1140px;
  /* height: auto; */
  /* max-height: 100vh; */
}

/* Dropdown */
/* .dropdown {
  position: absolute;
  top: 10%;
} */

/* .dropbtn::after {
  content: url(../images/sprite.svg#chevronDown);
} */

.dropdown__content {
  /* FIXME: background color */
  /* background: #f53131; */
  /* background: linear-gradient(to right, #f5313136 0, #f53131 10%, #f53131 90%, #f5313136 100%); */
  background: linear-gradient(to bottom, #f5313100 0, #f5313100 1.5rem, #f53131 1.5rem, #f53131 100%);
  border-radius: 0 0 20px 20px;
  width: auto;
  max-width: 70%;
  word-wrap: normal;
  padding: 1rem 2rem;
  display: none;
  position: relative;
  /* FIXME: to be determined absolute position */
  transform: translate(1rem, -1rem);
  line-height: 0.6;
  /* TODO: come with proper shadow */
  /* box-shadow: 1px 2rem 3rem #000; */
  z-index: 99;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown--expanded .dropdown__content {
  display: block;
}

.dropdown__item {
  padding: 1rem;
}

.dropdown__item > a {
  color: #ddd;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.dropdown__item > a:hover {
  color: #fff;
  border-bottom: 1px solid #ffe600;
}

@media screen and (min-width: 1024px) {
  .dropdown__content {
    position: fixed;
    padding-top: 2rem;
    max-width: 20rem;
    line-height: 1;
    transform: translate(-3rem, 0);
  }
}

/* Hero */
.hero {
  padding-top: 10rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.hero__tagline {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  padding-top: 2rem;
  margin: 5rem 0 3rem;
}

.hero__image {
  width: 100%;
  box-shadow: 0 0 20px #000;
  background: gold;
  border-radius: 50rem;
}

@media screen and (min-width: 768px) {
  /* .hero {
    padding-top: 15rem;
  } */

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* SideNav */
.sideNav {
  padding: 5rem 1rem;
}

.sideNav__sticky {
  margin-top: 0;
}

.page {
  /* display: inline-block; */
  /* width: 100%; */
  transform: translateY(-25rem);
}

@media screen and (max-width: 1024px) {
  .sideNav {
    display: none;
  }

  .page {
    transform: translateY(-30rem);
  }
}

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/* Normalise CSS */
html {
  line-height: 1.15;
  /* -webkit-text-size-adjust: 100%; */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
