:root {
  --color-primary: #ff5a5a;
  --color-secondary: #0a860a;
  --color-accent: #881214;
  --color-headings: #818181;
  --color-body: #6d6d6d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

/* Heading Line*/
.heading-line {
  color: var(--color-headings);
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: normal;
}

.heading-line::after {
  content: "----";
  /* transform: translateX(-10px); */
  margin-left: 10px;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 1rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--outline {
  background: none;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

img {
  width: 50%;
}

/* Navigation Bar */
.nav {
  background: linear-gradient(to right, #000 10%, red, purple);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4rem;
  align-items: center;
  border-radius: 4rem;
  margin: 1.6rem 1rem;
}

/* .nav__BG{
  background: black;
  height: 100vh;
} */

.nav img {
  height: 40px;
  width: auto;
}

.nav__brand {
  transform: translateY(4px);
  transition: scale 0.3s;
}
.nav__brand:hover {
  scale: 1.2;
}

.nav__list {
  width: 100%;
  list-style: none;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.2rem;
  }

  .nav__item {
    border: 0;
  }
}
