<div class="sideNav">
  <ul class="list">
    <li class="btn btn--pageNav btn--block btn--active"><a href="#">Team leader</a></li>
    <li class="btn btn--pageNav btn--block"><a href="#">Wet Lab</a></li>
    <li class="btn btn--pageNav btn--block"><a href="#">Dry Lab</a></li>
    <li class="btn btn--pageNav btn--block"><a href="#">Human Practices</a></li>
    <li class="btn btn--pageNav btn--block"><a href="#">Wiki Team</a></li>
    <li class="btn btn--pageNav btn--block"><a href="#">Pi</a></li>
  </ul>
</div>
