:root {
  --color-background: #fff;
  --color-primary: #fff;
  --color-secondary: #fff;
  --color-accent: #fff;
  --color-headings: #fff;
  --color-body: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Preloader */
#loading {
  /* background: #fff url("") no-repeat center; */
  background: #fff;
  font-weight: bold;
  height: 100vh;
  left: 0;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 1s ease-in-out 0.5s;
  width: 100%;
  z-index: 999999;
}

#loading img {
  width: 20vw;
  margin: 30vh 40vw 0;
}
/* /Preloader */

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: tomato #1b0760;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  background-image: url(./images/offline/elements-1x/bg-1x.png);
  background-size: contain;
  background-repeat: repeat-y;
  color: var(--color-body);
  font-size: 2rem;
}
/* /Typography */

/* IISER Containers */
.iiserKolkata {
  /* height: 100vh; */
  width: 100vw;
  overflow: auto;
  scrollbar-width: none;
}

.masterGrid {
  width: 100%;
  overflow: auto;
}

body.noScroll {
  overflow: hidden;
}

/* ProgressBar */
#scrollPath {
  /* box-shadow: inset 0 0 5px #000; */
  background: rgb(221, 157, 157);
  border-radius: 5px;
  height: 50vh;
  left: 0;
  margin: 30vh 2vw 20vh;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 10px;
  z-index: 9;
  transition: all 1s linear;
}

#progressBar {
  /* background: gold; */
  /* box-shadow: inset 0 0 5px #000; */
  background: linear-gradient(to top, goldenrod, gold);
  border-radius: 5px;
  box-shadow: 0 10px 10px 5px #000;
  height: 0%;
  max-height: 100%;
  width: 100%;
}

#progressBtn {
  background: rgb(74, 164, 253);
  border-radius: 10px;
  /* box-shadow: 0 0 10px 1px #000; */
  height: 20px;
  position: fixed;
  transform: translate(-25%, -50%);
  width: 20px;
  z-index: 9;
}

#toTop {
  /* background: red; */
  bottom: 0;
  left: 0;
  margin-left: 1vh;
  margin-bottom: 5vh;
  position: fixed;
  width: 50px;
  height: 0;
  z-index: 9;
  transition: all 0.3s;
}

#toTop:hover {
  scale: 1.1;
}

#toTop img {
  width: 200%;
  transform: translate(-25%, 0);
  height: 100%;
}

/* /ProgressBar */

img {
  width: 100%;
}
