:root {
  --color-background: #fff;
  --color-primary: #fff;
  --color-secondary: #fff;
  --color-accent: #5e8dd1;
  --color-headings: #fff;
  --color-body: #000;
  --length-paddingLeft: 65px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Preloader */
#preloader {
  /* background: #fff url("") no-repeat center; */
  background: #fff;
  font-weight: bold;
  height: 100vh;
  left: 0;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 1s ease-in-out 0.5s;
  width: 100%;
  z-index: 999999;
}

#preloader img {
  width: 20vw;
  margin: 30vh 40vw 0;
}
/* /Preloader */

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: tomato #1b0760;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  background-image: url(./images/offline/elements-1x/bg-1x.png);
  background-size: contain;
  background-repeat: repeat-y;
  color: var(--color-body);
  font-size: 2rem;
}
/* /Typography */

/* Links */
a {
  color: inherit;
  text-decoration: underline;
}
/* /Links */

/* IISER Containers */
.iiserKolkata {
  /* height: 100vh; */
  width: 100vw;
  overflow: auto;
  scrollbar-width: none;
}

.masterGrid {
  width: 100%;
  overflow: auto;
}

body.noScroll {
  overflow: hidden;
}

/* ProgressBar */
#scrollPath {
  /* box-shadow: inset 0 0 5px #000; */
  background: rgb(221, 157, 157);
  border-radius: 5px;
  height: 50vh;
  left: 0;
  margin: 30vh 2vw 20vh;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 10px;
  z-index: 9;
  transition: all 1s linear;
}

#progressBar {
  /* background: gold; */
  /* box-shadow: inset 0 0 5px #000; */
  background: linear-gradient(to top, goldenrod, gold);
  border-radius: 5px;
  box-shadow: 0 10px 10px 5px #000;
  height: 0%;
  max-height: 100%;
  width: 100%;
  /* transition: all 0.1s; */
}

#progressBtn {
  background: rgb(74, 164, 253);
  border-radius: 10px;
  height: 20px;
  position: fixed;
  transform: translate(-25%, -50%);
  width: 20px;
  z-index: 9;
}
/* /ProgressBar */

/* toTop */
#toTop {
  border-radius: 55%;
  bottom: 0;
  height: 0;
  left: 0;
  margin-bottom: 5vh;
  margin-left: 1vh;
  opacity: 0;
  position: fixed;
  transition: all 0.3s;
  width: 50px;
  z-index: 9;
}

#toTop:hover {
  box-shadow: 0 0 5px 1px #000;
  scale: 1.1;
}

#toTop img {
  height: 100%;
}
/* /toTop */

img {
  width: 100%;
}

/* Navigation */
#navToggler {
  /* background: #fbc351; */
  width: 45px;
  position: fixed;
  box-shadow: 0 0 10px 5px #000;
  border-radius: 2px;
  top: 2vh;
  left: 2vh;
}

.navigation-container {
  position: fixed;
  top: 50px;
  left: 50px;
  font-weight: bold;
  line-height: 2;
}
/* /Navigation */

.heroAfterImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroAfterImage img {
  width: 30%;
}

/* sectionHome */
.sectionHome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: var(--length-paddingLeft);
  padding-right: var(--length-paddingLeft);
  margin-top: 5rem;
}

.sectionHome-text {
  width: 100%;
  padding: 1rem;
}

.sectionHome-text p {
  padding: 1rem;
  margin-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.4;
}

.sectionHome-text--leftAlign {
  text-align: left;
  padding-right: 5rem;
}

.sectionHome-text--rightAlign {
  text-align: right;
  /* padding-right: var(--length-paddingLeft); */
  padding-left: 5rem;
}

.rightAlign {
  text-align: right;
}

.sectionHome-image {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHome-image img {
  width: 70%;
}

.text-milk {
  font-size: 10rem;
  color: #fbc351;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem #645f56;
}

/* .sectionHome-Heads {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: var(--length-paddingLeft);
  padding-right: var(--length-paddingLeft);
  margin-top: 5rem;
  padding-top: 15rem;
}

.sectionHome-Heads-text p {
  padding: 0 10rem;
} */

/* /sectionHome */

/* reference */
.reference {
  padding: 1rem 160px;
  background: #5e8dd1;
  color: #33517a;
}

.reference ol {
  margin-left: 3rem;
}

.theFooter {
  background: #093349;
  color: #addbe4;
  padding: 1rem 4rem 1rem 6rem;
}

.footerSection {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.knowMore {
  text-align: center;
}

.knowMoreList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
