/* CLEAR DEFAULT SETTINGS **************************************************/
#sideMenu,
#top_title,
.patrollink,
#firstHeading,
#home_logo,
#sideMenu {
  display: none;
}
#content {
  padding: 0px;
  width: 100%;
  margin-top: -7px;
  margin-left: 0px;
  border: none;
}
body,
html {
  background-color: #d1eaf6;
  width: 100%;
  height: 100%;
}
#bodyContent h1,
#bodyContent h2,
#bodyContent h3,
#bodyContent h4,
#bodyContent h5 {
  margin-bottom: 0px;
}

#bodyContent a[href ^="https://"], .link-https
{
  padding-right: 0px;
}

/* #################################################################################### */
/* Our CSS */

:root {
  --color-body: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */
/* @font-face {
  font-family: "iiserK";
  src: url("https://2021.igem.org/wiki/images/d/d2/T--IISER_Kolkata--fonts-Inter-Bold.ttf");
} */

@font-face {
  font-family: "iiserK";
  src: url("https://2021.igem.org/wiki/images/d/d2/T--IISER_Kolkata--fonts-Inter-Bold.ttf") format("ttf");
  font-weight: bold;
}

html {
  font-size: 16px !important;
  scroll-behavior: smooth !important;
  scrollbar-width: none !important;
}

body {
  color: var(--color-body) !important;
  font-family: "iiserK", Arial, Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  position: relative;
}

p {
  line-height: 1.3 !important;
  text-align: unset !important;
  font-size: inherit !important;
}
/* /typography */

/* links */
a,
a:link,
a:visited,
a:active {
  color: inherit !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

a:hover {
  color: initial;
}
/* /links */

/* images */
img {
  width: 100%;
  max-width: 100%;
}
/* /images */

/* containers */
.iiserKolkata {
  font-size: 100%;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw !important;
  font-family: "iiserK", Arial, Helvetica, sans-serif !important;
  /* TODO: check if overflow property is needed, this is causing bug in sticky */
  /* overflow-y: hidden; */
  background-image: url("https://2021.igem.org/wiki/images/5/51/T--IISER_Kolkata--image-bg-1x.png") !important;
  /* background-image: url("./images/offline/bgnt-1x.png") !important; */
  background-size: 100vw !important;
  background-repeat: repeat-y;
  scrollbar-width: none !important;
}

.indentContainer {
  padding: 1rem 5rem 1rem 5rem !important;
  /* text-align: justify; */
}
/* /containers */

/* preloader */
#preloader {
  background: #fff;
  font-weight: bold;
  height: 100vh;
  left: 0;
  font-size: 1rem;
  opacity: 1;
  position: fixed;
  text-align: center !important;
  top: 0;
  transition: all 1s linear 0.5s;
  width: 100%;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#preloader img {
  width: 20vw;
  /* margin: 30vh 40vw 0; */
}
/* /preloader */

/* progressBar */
#scrollPath {
  /* box-shadow: inset 0 0 5px #000; */
  background: rgb(221, 157, 157);
  border-radius: 5px;
  height: 50vh;
  left: 2.2rem;
  bottom: 10rem;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  width: 10px;
  z-index: 9;
  transition: all 0.3s linear;
}

#progressBar {
  /* background: gold; */
  /* box-shadow: inset 0 0 5px #000; */
  background: linear-gradient(to top, goldenrod, gold);
  border-radius: 5px;
  box-shadow: 0 10px 10px 5px rgb(94, 84, 30);
  height: 0%;
  max-height: 100%;
  width: 100%;
  /* transition: all 0.5s linear; */
}

#progressBtn {
  background: rgb(74, 164, 253);
  border-radius: 10px;
  height: 20px;
  position: fixed;
  transform: translate(-25%, -50%);
  width: 20px;
  z-index: 9;
}
/* /progressBar */

/* toTop */
#toTop {
  border-radius: 55%;
  position: fixed;
  bottom: 3rem;
  left: 1rem;
  width: 50px;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
  z-index: 9;
  visibility: hidden;
}

#toTop:hover {
  box-shadow: 0 0 5px 1px #000;
  scale: 1.1;
}
/* /toTop */

/* navToggler */
#navToggler {
  width: 40px;
  height: max-content;
  /* box-shadow: 0 0 10px 5px #000; */
  border-radius: 2px;
  position: fixed;
  top: 2.5rem;
  left: 1.5rem;
  cursor: pointer;
  z-index: 999;
}
/* /navToggler */

/* navigation */
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0933498a;
  visibility: hidden;
  opacity: 0.1;
  z-index: 998;
  transition: all 0.3s;
}

.navigation-container.navigation-expanded {
  visibility: visible;
  opacity: 1;
}

.navigation {
  /* overflow: hidden; */
  width: 50%;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  left: -10%;
}

.navList {
  width: max-content;
  position: absolute;
  top: 20%;
  left: 30%;
  font-size: 1.5rem !important;
  line-height: 2;
  font-weight: bold;
  /* color: #093349; */
}

.navList > ol li:hover {
  color: #093349;
  /* text-shadow: 0 0 5px #093349; */
}

.navDrop {
  width: max-content;
}

.navDrop li:hover {
  color: #093349;
  text-shadow: 0 0 5px #093349;
}

.navDropList {
  border-radius: 50%;
  background-image: url("https://2021.igem.org/wiki/images/5/5c/T--IISER_Kolkata--image-subNavBG-2x.png");
  /* background-image: url("./images/offline/new/subNavBG.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 50vh;
  left: 50vw;
  min-width: 50vw;
  min-height: 80vh;
  width: max-content;
  height: max-content;
  transform: translate(-10%, -50%);
  opacity: 0.1;
  visibility: hidden;
  line-height: 2;
  transition: all 0.3s;
  padding: 10rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.navDropList li {
  text-align: center !important;
  list-style: none;
  transform: translateX(-20%);
}

.navigation-container.navigation-expanded .navDrop-expanded .navDropList {
  visibility: visible;
  opacity: 1;
}
/* /navigation */

/* hero */
#hero {
  text-align: center;
  width: 100%;
  position: relative;
}

.homeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.homeBtn a {
  width: 50%;
}
/* /hero */

/* centerImage */
.centerImage {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.centerImage div {
  width: 100%;
}

.centerImage img {
  width: 50%;
}

.centerImage h3 {
  font-size: 4.5rem !important;
}
/* /centerImage */

/* textFormats */
.highlightBlue {
  color: #5e8dd1;
}

.highlightYellow {
  color: rgb(228, 198, 32);
}

.milkText {
  font-family: cursive;
  text-shadow: 4px 4px rgb(49, 48, 41);
}

.highlightPeru {
  color: peru;
}

.rightAlign {
  text-align: right !important;
}

.centerAlign {
  padding: 1rem 0;
  width: 85%;
  text-align: center !important;
}

.leftAlign {
  text-align: left !important;
}

.largeText {
  line-height: 1.5;
  font-size: 8rem !important;
}

.textShadow {
  text-shadow: 4px 4px rgb(49, 48, 41);
}

.mediumText {
  line-height: 1.2;
  font-size: 5rem !important;
}
/* /textFormats */

/* impText */
.impText {
  font-weight: bold;
  font-size: 2rem !important;
  width: 100%;
}

.impText > div {
  width: 70%;
}

.impText .rightAlign {
  width: 80%;
  transform: translateX(25%);
}
/* /impText */

/* rightSection */
.rightSection {
  /* background: #000; */
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.rightSection > div {
  display: flex;
  /* justify-content: center; */
  align-items: center !important;
}

.rightSectionImage {
  width: 100%;
  padding-right: 3rem;
  /* background: gold; */
}

.rightSectionImage img {
  width: auto;
  height: auto;
  max-width: 100%;
  /* min-height: 300px; */
  max-height: 450px;
}

.rightSectionText {
  padding-left: 8rem;
  font-size: 1.7rem !important;
  /* background: dodgerblue; */
}
/* /rightSection */

/* leftSection */
.leftSection {
  /* background: #ddd; */
  display: grid;
  grid-template-columns: 60% 40%;
}

.leftSection > div {
  display: flex;
  align-items: center !important;
  margin-top: 5rem;
}

.leftSectionText {
  padding-right: 8rem;
  font-size: 1.7rem !important;
  /* background: dodgerblue; */
}

.leftSectionImage {
  width: 100%;
  /* background: gold; */
  padding-left: 3rem;
}

.leftSectionImage img {
  width: auto;
  height: auto;
  max-width: 100%;
  /* min-height: 300px; */
  max-height: 450px;
}
/* /leftSection */

/* knowMoreSection */
.knowMore {
  line-height: 1.5;
  text-align: center !important;
  color: #093349;
  text-shadow: 2px 2px #33517a;
  padding: 2rem 2rem !important;
}

.knowMore h3 {
  margin-bottom: 1.5rem !important;
  font-size: 4.5rem !important;
  color: #093349;
}

.knowMoreList {
  padding-top: 3rem !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center !important;
}

.knowMoreList img {
  padding: 1rem;
  height: auto;
  transition: all 0.3s;
}

.knowMore img:hover {
  scale: 1.2;
}
/* /knowMoreSection */

/* reference */
.reference {
  margin-top: 8rem;
  font-size: 1rem !important;
  background: #5e8dd1;
  color: #23354e;
  line-height: 1.5;
  padding-top: 2rem;
  padding-bottom: 5rem;
  position: relative;
}

.reference h3 {
  color: #23354e !important;
}

.reference ol {
  margin-left: 3rem;
}

.reference li:hover {
  text-shadow: 0 0 1px #093349;
}

.wave {
  position: absolute;
  top: -3.5rem;
  left: 0;
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 6rem;
}

.topWave {
  background-image: url("https://2021.igem.org/wiki/images/8/8a/T--IISER_Kolkata--image-topWave-2x.png");
  /* background-image: url("/images/offline/topWave-2x.png"); */
}

.bottomWave {
  background-image: url("/images/offline/topWave-2x.png");
}
/* /reference */

/* footer */
.theFooter {
  padding-top: 2rem;
  background: #093349;
  width: 100%;
  position: relative;
}

.footerHead {
  font-size: 2.5rem !important;
  color: #5e8dd1 !important;
  position: relative;
}

.footerHead h3 {
  color: #5e8dd1 !important;
}

.contacts {
  position: absolute;
  font-size: 1rem !important;
  top: 40%;
  right: 0;
}

.contacts img {
  width: 4rem;
  padding: 0 0.5rem;
}

.sponsors {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}

.sponsors img {
  width: 11rem;
  padding: 1rem 1.5rem;
}
/* /footer */

/* gridedContainer */
.gridedContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 10px;
}

.gridedContainer > div {
  padding: 0.3rem;
  border-radius: 10px;
  /* border: 1px dashed red; */
  /* background: rgba(238, 238, 238, 0.3); */
}

.gridedContainer > div:first-child {
  height: auto;
  padding: 0;
  position: relative;
}

.gridedContainer > div:nth-child(2) {
  height: auto;
}
/* /gridedContainer */

@media screen and (max-width: 768px) {
  .gridedContainer {
    grid-template-columns: 0 100%;
  }
}

/* sticky */
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
/* /sticky */

/* sideNav */
.sideNav {
  /* background: #eee; */
  width: 100%;
  height: auto;
  top: 15%;
  border-radius: 10px;
  font-size: 1rem;
  overflow: hidden;
}

.sideNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideNav li {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-top: 2rem; */
}

.scrollID {
  text-decoration: none !important;
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  text-align: center;
  /* background: rgba(221, 221, 221, 0.4); */
  background: #ddd;
  border-radius: 10px;
  word-wrap: break-word;
  transition: all 0.3s linear;
}

/* TODO: try making them with JS */
.scrollID.scrollID-active,
.scrollID:hover {
  text-decoration: underline !important;
  /* font-size: 1.5rem; */
  font-weight: bold;
  text-shadow: 0 0 5px #093349;
  background: #1b8cc98a;
  /* border: 1px dashed red; */
  padding: 1rem;
  /* border-left: 5px solid dodgerblue; */
}
/* /sideNav */

/* contentSection */
.contentSection {
  min-height: 400px;
}
/* /contentSection */
