:root {
  --color-primary: #30475e;
  --color-secondary: #6ba3db;
  --color-tertiary: #7cccbe;
  --color-accent: #f05454;
  --color-headings: #fff;
  --color-body: #fff;
  --color-nav: #3e4a5b;
  --color-html: #222831;
}
