<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">
        To The <br />
        People Who Make This Happen
      </h1>
      <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum autem repudiandae nesciunt enim suscipit, architecto laborum. A numquam quae tenetur!</p>
    </header>
    <picture>
      <source type="image/webp" />
      <img class="hero__image" src="images/exampleTeam.png" alt=""
    /></picture>
  </div>
</section>
