<nav class="nav collapsible" id="navBar">
  <a class="nav__brand" href="/"><img src="images/logoMini.svg" alt="brand_logo" /></a>
  <svg class="icon icon--white nav__toggler" onclick="navToggle('navBar'),removeClassDropExpand()">
    <use xlink:href="images/sprite.svg#pipetteMono"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="#">Project</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="#">Description</a></li>
        <li class="dropdown__item"><a href="#">Design</a></li>
        <li class="dropdown__item"><a href="#">Results</a></li>
        <li class="dropdown__item"><a href="#">Proof Of Concept</a></li>
        <li class="dropdown__item"><a href="#">Engineering</a></li>
        <li class="dropdown__item"><a href="#">Models</a></li>
        <li class="dropdown__item"><a href="#">Hardware</a></li>
        <li class="dropdown__item"><a href="#">Endowments</a></li>
      </ul>
    </li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="#">Lab Work</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">Experiments and protocols</a></li>
        <li class="dropdown__item"><a href="">Parts</a></li>
        <li class="dropdown__item"><a href="">Notebook</a></li>
        <li class="dropdown__item"><a href="">Safety</a></li>
      </ul>
    </li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="#">Human Practices</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">timeline</a></li>
        <li class="dropdown__item"><a href="">integrated human practices</a></li>
        <li class="dropdown__item"><a href="">education and public engagements</a></li>
        <li class="dropdown__item"><a href="">proposed implementation</a></li>
        <li class="dropdown__item"><a href="">entrepreneurship</a></li>
        <li class="dropdown__item"><a href="">diversity and inclusivity</a></li>
      </ul>
    </li>
    <li class="nav__item dropdown">
      <a class="dropbtn activePage" href="#">Team</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">Members</a></li>
        <li class="dropdown__item"><a href="">attributions</a></li>
        <li class="dropdown__item"><a href="">collaborations</a></li>
      </ul>
    </li>
    <li class="nav__item"><a href="#">Graphics</a></li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="#">Awards</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">media criteria</a></li>
      </ul>
    </li>
  </ul>
</nav>
<script>
  function navToggle(id) {
    document.getElementById(id).classList.toggle("collapsible--expanded");
  }

  const drop = document.querySelectorAll(".dropdown");

  drop.forEach((item) =>
    item.addEventListener("click", function () {
      removeClassDropExpand();
      this.classList.toggle("dropdown--expanded");
    })
  );

  function removeClassDropExpand() {
    drop.forEach((item) => item.classList.remove("dropdown--expanded"));
  }

  window.onclick = function (e) {
    if (!e.target.matches(".dropbtn")) {
      drop.forEach((item) => item.classList.remove("dropdown--expanded"));
    }
  };
</script>
