<nav class="nav collapsible nav__sticky" id="navBar">
  <a class="nav__brand" href="/"><img src="https://2021.igem.org/wiki/images/c/ce/T--IISER_Kolkata--namoosteCapsule.svg" alt="brand_logo" /></a>
  <svg class="icon icon--white nav__toggler" onclick="navToggle('navBar'),removeClassDropExpand()">
    <use xlink:href="https://2021.igem.org/wiki/images/3/38/T--IISER_Kolkata--icons-sprit.svg#pipetteMono"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="javascript:void()">Home</a></li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="javascript:void()">Project</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="javascript:void()">Description</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Design</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Results</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Proof Of Concept</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Engineering</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Models</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Hardware</a></li>
        <li class="dropdown__item"><a href="javascript:void()">Endowments</a></li>
      </ul>
    </li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="javascript:void()">Lab Work</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">Experiments and protocols</a></li>
        <li class="dropdown__item"><a href="">Parts</a></li>
        <li class="dropdown__item"><a href="">Notebook</a></li>
        <li class="dropdown__item"><a href="">Safety</a></li>
      </ul>
    </li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="javascript:void()">Human Practices</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">timeline</a></li>
        <li class="dropdown__item"><a href="">integrated human practices</a></li>
        <li class="dropdown__item"><a href="">education and public engagements</a></li>
        <li class="dropdown__item"><a href="">proposed implementation</a></li>
        <li class="dropdown__item"><a href="">entrepreneurship</a></li>
        <li class="dropdown__item"><a href="">diversity and inclusivity</a></li>
      </ul>
    </li>
    <li class="nav__item dropdown">
      <a class="dropbtn activePage" href="javascript:void()">Team</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">Members</a></li>
        <li class="dropdown__item"><a href="">attributions</a></li>
        <li class="dropdown__item"><a href="">collaborations</a></li>
      </ul>
    </li>
    <li class="nav__item"><a href="javascript:void()">Graphics</a></li>
    <li class="nav__item dropdown">
      <a class="dropbtn" href="javascript:void()">Awards</a>
      <ul class="list dropdown__content">
        <li class="dropdown__item"><a href="">media criteria</a></li>
      </ul>
    </li>
  </ul>
</nav>
<script>
  function navToggle(id) {
    document.getElementById(id).classList.toggle("collapsible--expanded");
  }

  const drop = document.querySelectorAll(".dropdown");

  drop.forEach((item) =>
    item.addEventListener("click", function () {
      removeClassDropExpand();
      this.classList.toggle("dropdown--expanded");
    })
  );

  function removeClassDropExpand() {
    drop.forEach((item) => item.classList.remove("dropdown--expanded"));
  }

  window.onclick = function (e) {
    if (!e.target.matches(".dropbtn")) {
      drop.forEach((item) => item.classList.remove("dropdown--expanded"));
    }
  };
</script>
