<div style="width: 100%; padding: 3rem;">
  <div class="profile">
    <header class="profile__header">
      <span class="bckToggle"><img src="images/profileBackBtn.svg" alt="" /></span>
      <div class="profile--flex">
        <h3 class="profile__name">Debdeep Chatterjee</h3>
        <span class="profile__social">
          <div class="icon-container">
            <a href="#">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#linkedin"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </span>
      </div>
      <span class="profile__engagement">Engagement - Wet Lab</span>
    </header>
    <div class="profile__body">Hi! I am Debdeep, currently a fifth-year Biology major student at IISER Kolkata. I am fond of molecular biology and protein engineering. Other than managing and leading this wonderful team I work as a bio-modeler. I mostly spend my free time listening to music, reading or watching web series. The journey of iGEM2021 has been a roller coaster ride which I have enjoyed every bit with my team members.</div>
  </div>
</div>
