:root {
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
  scrollbar-width: none !important;
  scrollbar-color: tomato #1b0760;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

.iiserKolkata {
  padding: 0;
  background: #222831;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  /* overflow: hidden; */
}

.masterGrid {
  display: grid;
  grid-template-columns: max-content auto;
  min-height: 100vh;
  padding: 0;
}

/* .mainNav-container {
  background: #1b0760;
  width: 6rem;
} */

.mainNav-container {
  background: gold;
  display: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 6rem;
}

.mainContent {
  background: rgba(137, 43, 226, 0.473);
}

@media screen and (min-width: 768px) {
  .mainNav {
  }
}
